<div class="col-md-6 col-md-offset-5">
  <div class="panel panel-primary">
    <div class="panel-heading">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= f.label :email %><br/>
  <div class="input-group">
         
          <%= f.email_field :email, placeholder: "Email", class: "form-control input-lg", label: false, :required =>true %>
        </div><br/>

   <%= f.label :password%><br/>
  <div class="input-group">
         
          <%= f.password_field :password, placeholder: "Password", class: "form-control input-lg", label: false, :required =>true %>
        </div><br/>

 
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <%= f.submit "Log in",class: "btn btn-warning"%>
    <% end %>

<%= render "devise/shared/links" %>
</div></div></div>
<style type="text/css">
  .panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 1px 65px;
}
</style>